/*      Flexbox self-reminder
 * - flex-direction
 * - justify content (aka main-axis alignment)
 * - align-items (aka cross-axis alignment
 * - align-content (if main axis is row and you have != columns, corresponds to how they are aligned)
 */

/* --------- general --------- */

:root {
    --main-bg: #DCD7C9;
    --secondary-bg: #A27B5C;
    --main-text: #2C3639;
    --accent-color: #3F4E4F;
    /* UGLY: TO CHANGE */
}

:root.dark {
    --main-bg: #2C3639;
    --secondary-bg: #3F4E4F;
    --main-text: #DCD7C9;
    --accent-color: #A27B5C;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--main-text);
    background-color: transparent;
    font-size: calc(2px + 1.5vmin);
}

a {
    color: var(--accent-color);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 110%;
}

li {
    list-style: none;
}

ul, ol {
    padding-left: 0;
}

img {
    max-width: 100%;
}

button {
    padding: 5px;
    border-radius: 5px;
}

#main-container {
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--main-bg);

    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer, main {
    padding: 10px;
}

footer, header, nav {
    background-color: var(--secondary-bg);
    z-index: 10;
}

#main-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------- navbar --------- */

nav {
    padding: 2vh 2vw;
    text-align: center;
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 30%;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2vh;
}

nav a {
    text-decoration: none;
    background-color: var(--main-bg);
    color: var(--secondary-bg);
    position: relative;
    height: 5vh;
}

nav li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav a#selected {
    background-color: var(--secondary-bg);
    border: var(--main-bg) solid 1vmin;
}

@media screen and (max-width: 750px) {
    #main-row { /* Good choice of class name I know :) */
        flex-direction: column;
    }
    
    nav {
        padding: 1vh 1vw;
        width: 100%;
        z-index: 1;
    }

    nav ul {
        flex-direction: row;
        gap: 1vw;
    }
    
    nav a {
        flex-grow: 1;
    }

    nav li {
        font-size: calc(2px + 1.2vw);
    }
}

/* ---------- home --------- */

#portrait {
    max-width: 50vw;
    max-height: 50vh;
    display: inline;
    align-self: center;
}

#index #row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin-bottom: 2vw;
}

@media screen and (max-width: 800px) {
    #index #row {
        flex-direction: column;
    }
}

/* -------- education -------- */

#education ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    min-height: calc(100% - 10vw - 25vh);
    margin: 10vh 0 10vh;
    gap: 5vh;
    position: relative;
}

#education #arrow {
    position: absolute;
    top: calc(-10vh + 5vw);
    height: calc(100% + 20vh - 5vw);
    width: 10vw;
    background-color: var(--main-text);
}

#education #arrow::before, #education #arrow::after {
    height: calc(sqrt(50) * 1vw);
    width: calc(sqrt(50) * 1vw);
    content: "";
    position: absolute;
    left: 0;
}

#education #arrow::before {
    /* This is the negative ^ at the bottom of the arrow */
    background-color: var(--main-bg);
    transform: rotate(-45deg);
    transform-origin: top left;
    bottom: -7vw;
}

#education #arrow::after {
    /* This is the ^ At the top of the arrow */
    background-color: var(--main-text);
    transform: rotate(45deg);
    transform-origin: bottom left;
    top: -7vw;
}

#education > ol > li {
    padding: .1vh 0;
    background-color: var(--main-bg);
    z-index: 1;
    border-top: var(--main-text) solid thin;
    border-bottom: var(--main-text) solid thin;
}

/* --------- projects -------- */

#projects > ul {
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}

#projects > ul > li {
    background-color: var(--main-bg);
    border: var(--secondary-bg) solid 5px;
    box-shadow: 5px 4px 8px #000D;
    border-radius: 10px;

    padding: 1vw;
    flex: 1 1 300px;

    display: flex;
    flex-direction: column;
}
#projects ul ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#projects ul li > .card-content {
    flex-grow: 1;
    margin-bottom: 8px;
}

#projects ul li > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects ul li > .row > div {
    flex-grow: 1;
}

#projects ul ul li img {
    max-width: 48px;    /* TODO: CHANGE UNIT TO Vx */
}

/* ------- experiences ------- */

#experiences ul {
    margin: 5% 0 5% 2vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    gap: 5vh;
    justify-content: space-around;
    border-left: .1vw solid var(--main-text);
}

#experiences li h2 {
    position: relative;
}

#experiences li h2::before { /* This is the little nice dot on the left line */
    content: "";
    position: absolute;
    left: -2vw;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: var(--main-bg) solid 2vw;
    border-bottom: var(--main-bg) solid 2vw;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-color: var(--main-text);
}

#experiences .date {
    filter: opacity(80%);
    font-size: 90%;
}

/* ------- distinctions ------ */

#distinctions img {
    max-width: 30%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}

#distinctions ul {
    padding: 0;
    position: relative;
}

#line {
    height: 100%;
    width: 0;
    border: var(--main-text) solid thin;
    position: absolute;
    top: 0;
    left: 50%;
}

#distinctions li {
    max-width: 40%;
    padding: 4px;
    position: relative;
}

#distinctions li:nth-child(2n) {
    margin-left: 60%;
    text-align: left;
    border-left: thin solid var(--main-text);
}

#distinctions li:nth-child(2n + 1) {
    margin-right: 60%;
    text-align: end;
    border-right: thin solid var(--main-text);
}

#distinctions .decorator {
    height: 50%;
    position: absolute;
    top: 50%;
    border-top: var(--main-text) solid thin;
}

#distinctions li:nth-child(2n + 1) .decorator {
    border-right: var(--main-text) solid thin;
    border-top-right-radius: 25px;
    width: calc(25% + 2px);  /* Because of the 4px padding, else it does not match the #line */
    right: calc(-25% - 2px);
}

#distinctions li:nth-child(2n) .decorator {
    border-left: var(--main-text) solid thin;
    border-top-left-radius: 25px;
    width: 25%;
    left: -25%;
}
/* --------- contact --------- */

#contact {
    text-align: center;
}

#contact li img {
    max-height: calc(2px + 1.5vh);
}
